@import './mixin.sass'

body
  background-color: #F2F2F2

/***********      wrapper      ***********/
.wrapper
  max-width: 1300px
  margin: 0 auto
  padding: 0 2rem

  &.noSpace
    max-width: auto
    padding: 0

/***********      title      ***********/
.title
  text-align: center
  font-size: 1.8rem
  font-weight: 600

/***********      custom input      ***********/
.custom-input
  padding: .5rem 1rem
  border-radius: 4px
  margin-bottom: 1rem
  border: 1px solid rgba($dark, .2)
  @include grid($columns: 10px 1fr)
  align-items: center
  transition: .4s cubic-bezier(0,1,0,1)
  cursor: pointer

  &:nth-last-child(1)
    margin-bottom: 0

  &:hover
    transform: translateY(-2px) scale(1.02)
    box-shadow: 0 2px 6px rgba($dark, .1)

  &.active
    background-color: $sec
    border-color: $pri

    .input-sec
      .form-input-label
        color: $light

    .description
      color: $light

    .input-indicator
      border: 2px solid rgba($light, .6)

      &::after
        height: 13px
        width: 13px
        opacity: 1
        background-color: rgba($light, .6)

  .input-indicator
    position: relative
    height: 20px
    width: 20px
    border-radius: 50%
    border: 2px solid rgba($dark, .2)

    &::after
      content: ''
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      height: 0
      width: 0
      background-color: rgba($light, .2)
      opacity: 1
      border-radius: 50%
      transition: .4s cubic-bezier(0,1,0,1)

  .input-sec
    margin-left: 10px

    .form-input-label
      color: $para
      font-size: 1rem
      cursor: pointer

  .description
    font-size: .75rem
    color: $para

/***********      select button list      ***********/
.select-button-list
  @include flex($justify: flex-start)
  gap: .4rem
  overflow-x: auto
  padding: .3rem

  ::-webkit-scrollbar
    width: 5px

  ::-webkit-scrollbar-track
    border: none
    background-color: #e2e2e2

  ::-webkit-scrollbar-thumb
    background-color: #5e5e5e
    border-radius: 10px

  &.yesNo
    flex-direction: column
    align-items: flex-start

    .input-button
      padding: 0 1rem
      margin-right: .5rem

  .select-day
    @include flex($justify: center)
    flex-direction: column
    margin-top: .1rem

    .button-label
      font-size: .7rem
      text-transform: uppercase
      color: #8C9FB3
      margin-bottom: .5rem
      font-weight: 600
      letter-spacing: 2px

  .input-button
    min-width: 2.5rem
    height: 2.5rem
    border-radius: 4px
    border: 1px solid #dcdcdc
    color: #8C9FB3
    cursor: pointer
    font-size: 1rem
    transition: .5s cubic-bezier(0,1,0,1)

    &:hover
      transform: translateY(-2px) scale(1.05)
      border: 1px solid #8C9FB3
      box-shadow: 0 2px 4px rgba($text, .1)

    &:nth-last-child(1)
      margin-right: 0

    &.active
      color: $light
      background-color: $sec
      border: 1px solid $sec

/***********      progress bar      ***********/
.progress-bar
  margin: 1.4rem 0

  ul
    @include grid($columns: 1fr 2fr 1fr 2fr 1fr 2fr 1fr)
    grid-gap: 10px

    .line
      width: 100%
      transform: translateY(10.5px)
      height: 2px
      background-color: $bg
      border-radius: 4px

      &.done
        background-image: linear-gradient(-90deg, $sec, $pri)

      &.active
        background-color: $text

    li
      @include flex($justify: center)
      flex-direction: column
      text-align: center

      &.done
        span
          background-image: linear-gradient(-90deg, $sec, $pri)
          color: $light

          &::before
            content: '✓' !important

      &.active
        span
          background-color: $text
          color: $light

      &:nth-child(1)
        span
          &::before
            content: '1'

      &:nth-child(3)
        span
          &::before
            content: '2'

      &:nth-child(5)
        span
          &::before
            content: '3'

      &:nth-child(7)
        span
          &::before
            content: '4'

      span
        position: relative
        height: 1.5rem
        width: 1.5rem
        border-radius: 50%
        background-color: $bg
        color: $text
        text-align: center
        font-size: .75rem
        @include flex($justify: center)
        font-weight: 500
        margin-bottom: .5rem

      p
        font-size: .8125rem
        font-weight: 400
        color: $para

/***********      book now page      ***********/
.book-now-page
  padding: 3rem 0

  main
    @include flex($justify: space-between)
    align-items: flex-start

  .all-forms
    width: 64%
    background-color: $light
    box-shadow: 0 0 15px rgba($pri, .2)
    border-left: 2.5px solid $pri
    // border-bottom: 2.5px solid $pri
    border-radius: 8px
    @include flex($justify: space-between)
    flex-direction: column
    align-items: flex-start

    .form-title
      margin-bottom: .6rem
      font-size: 1rem
      font-weight: 400
      @include flex($justify: flex-start)
      color: rgba($dark, .8)

      .info-btn
        height: 15px
        width: 15px
        border: .124rem solid $text
        color: $text
        border-radius: 50%
        @include flex($justify: center)
        margin-left: 5px
        cursor: pointer

        i
          font-size: .5rem

    .frequency
      padding: 1.5rem

    .form-footer
      @include flex($justify: space-between)
      padding: .5rem 1rem
      border-top: 1px solid #dcdcdc
      width: 100%

      .total-price
        display: none

        .name
          font-weight: 400
          font-size: .7rem
          text-transform: uppercase
          color: rgba($dark, .7)
          letter-spacing: 2px

        .value
          font-weight: 600
          font-size: .9rem
          @include flex($justify: flex-start)

          i
            margin-left: .3rem
            font-size: 12px

      .previous
        padding: .5rem 1rem
        cursor: pointer

      .next
        padding: .5rem 1rem
        background-image: linear-gradient(-90deg, $sec, $pri)
        color: $light
        text-transform: uppercase
        font-weight: 600
        border-radius: 20px
        cursor: pointer

/***********      selected information      ***********/
.selected-information
  width: 34%
  position: sticky
  top: 20px

  .list
    background-image: linear-gradient(130deg, $pri, $sec)
    border-radius: 8px
    box-shadow: 0 1px 5px rgba($dark, .1)

    .item
      padding: 1rem 1.5rem
      border-bottom: 1px solid #e9e9e9
      font-size: .8rem
      color: $light

      &.mobile-view-element
        display: none

      &:nth-last-child(1)
        border-bottom: none

      .section-title
        font-size: .75rem
        font-weight: 600
        color: $light
        text-transform: uppercase
        letter-spacing: 2px

      .city
        @include flex($justify: space-between)

        .name
          text-transform: uppercase
          font-size: .7rem
          color: $light
          letter-spacing: 2px

      .address
        .name
          color: $light
          margin-top: .7rem
          padding: .5rem
          background-color: rgba($dark, .07)
          border-radius: 6px

      .price-details
        ul
          li
            &:nth-last-child(1)
              .value
                color: $light
                font-weight: 600
                font-size: 1.1rem

              .name
                font-size: 1.1rem

      ul
        margin-top: .7rem

        li
          @include flex($justify: space-between)
          margin-bottom: .2rem
          padding: .5rem
          background-color: rgba($dark, .07)
          border-radius: 6px

          &:nth-last-child(1)
            margin-bottom: 0

          .name
            color: $light

          .value
            color: $light
            @include flex($justify: flex-end)

            .user-image
              height: 25px
              width: 25px
              border: 1px solid rgba($dark, .2)
              border-radius: 50%
              object-fit: cover
              margin-left: .7rem

/***********      service details section      ***********/
.service-details-section
  padding: 1.5rem
  width: 100%

  .section
    margin-bottom: 2rem

    .message-box
      padding: .7rem
      border: 2px solid #dcdcdc
      width: 100%
      border-radius: 4px

      .message-area
        width: 100%
        font-size: .8rem

        &::placeholder
          color: #aaaaaa

/***********      date time section      ***********/
.date-time-section
  padding: 1.5rem
  width: 100%

  .section
    margin-bottom: 2rem

    .sub-title
      color: rgba($dark, .38)
      font-size: 1rem
      margin-top: -0.5rem

    .arrive
      margin-top: 1rem
      font-size: 1rem
      color: rgba($dark, .6)

    .professional-list
      @include flex($justify: flex-start)
      margin-top: 12px
      overflow-x: auto
      gap: 15px
      scroll-snap-type: x mandatory
      padding: 1rem .5rem

      .item
        border: 1px solid rgba($dark, .12)
        @include flex($justify: center)
        flex-direction: column
        border-radius: 4px
        text-align: center
        scroll-snap-align: center
        cursor: pointer
        transition: .4s cubic-bezier(0,1,0,1)
        opacity: .7

        &:hover
          transform: translateY(-3px) scale(1.02)
          box-shadow: 0 3px 5px rgba($dark, .1)
          opacity: 1

        &.active
          border: 1px solid rgba($sec, .6)
          box-shadow: 0 0 7px rgba($sec, .3)
          background-color: rgba($sec, .1)
          opacity: 1

        .user-image
          height: 120px
          width: 100%
          border-radius: 6px
          object-fit: cover
          margin-bottom: .8rem
          border-bottom: 1.8px solid $sec

        .name
          font-size: .8rem
          font-weight: 600
          color: $sec
          padding: 0 .5rem

        .rating
          font-size: .8rem
          color: #e7a900
          margin: .3rem 0

        p
          font-size: .8rem
          color: $para
          padding: 0 .5rem .6rem

        .details-btn
          display: none
          margin-top: .5rem
          padding: .5rem
          font-size: .8rem
          color: rgba($sec, .8)
          font-size: 400
          cursor: pointer

/***********      google map popup      ***********/
.google-map-popup
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  height: 100%
  width: 100%
  background-color: rgba($light, .5)
  z-index: 10
  @include flex($justify: center)

  .popup-bg
    height: 300px
    width: 300px
    border-radius: 10px
    box-shadow: 0 0 10px rgba($dark, .1)
    background-color: $light

/***********      modal      ***********/
.modal
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  @include flex($justify: center)
  z-index: 10
  opacity: 0
  pointer-events: none
  padding: 0 10px
  @include trans()

  &.active
    opacity: 1
    pointer-events: auto

    .modal-contailer
      transform: scale(1)

  .modal-bg
    position: absolute
    height: 100%
    width: 100%
    background-color: rgba($dark, .6)

  .modal-contailer
    max-width: 500px
    background-color: $light
    border-radius: 10px
    width: 100%
    transform: scale(1.2)
    @include trans()

    .modal-header
      padding: 1.2rem
      border-bottom: 1px solid rgba($dark, .3)
      @include flex($justify: space-between)

      .modal-close-btn
        height: 30px
        width: 30px
        @include flex($justify: center)
        border-radius: 50%
        cursor: pointer
        font-size: 16px
        color: rgba($dark, .7)

        &:hover
          background-color: rgba($dark, .1)

      .modal-title
        font-size: 1.2rem
        font-weight: 600

    .modal-body
      padding: 1.2rem
      padding-top: 0
      overflow: auto
      max-height: 75vh

      p
        font-size: .9rem
        margin: 1rem 0
        color: rgba($dark, .7)
        line-height: 1.3rem

      table, th, td
        border: 1px solid rgba($dark, .3)
        border-collapse: collapse
        padding: .5rem

      table
        width: 100%

        thead
          font-size: .9rem
          text-align: left
          color: rgba($dark, .9)

        tbody
          color: rgba($dark, .7)
          font-size: .9rem

      ul
        margin-bottom: 1.5rem

        &:nth-last-child(1)
          margin-bottom: 0

        li
          font-size: .9rem
          color: rgba($dark, .7)
          margin-bottom: .8rem
          font-weight: 400
          list-style: disc
          margin-left: 2rem

          &.list-title
            font-weight: 600
            color: rgba($dark, .9)
            margin-left: 0
            list-style: none

/***********      sign in and sign up modal      ***********/
.sign-in-and-sign-up-modal
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  @include flex($justify: center)
  z-index: 10
  opacity: 0
  pointer-events: none
  padding: 0 10px
  @include trans()

  &.active
    opacity: 1
    pointer-events: auto

    .modal-contailer
      transform: scale(1)

  .modal-bg
    position: absolute
    height: 100%
    width: 100%
    background-color: rgba($dark, .6)

  .modal-contailer
    max-width: 350px
    background-color: $light
    border-radius: 6px
    width: 100%
    transform: scale(1.2)
    @include trans()
    padding: 1.5rem
    position: relative

    .modal-close-btn
      position: absolute
      top: -35px
      right: 0
      height: 30px
      width: 30px
      border-radius: 6px
      background-color: $light
      @include flex($justify: center)
      cursor: pointer

      &:hover
        color: $light
        background-color: #af0000

    .modal-title
      text-align: center
      font-size: 1.2rem
      font-weight: 600

    .modal-body
      margin-top: 1.2rem

      .form-submit-btn
        height: 2.7rem
        width: 100%
        @include flex($justify: center)
        background-image: linear-gradient(90deg, $pri, $sec)
        border-radius: 6px
        color: $light
        cursor: pointer
        transition: .4s
        text-transform: uppercase
        letter-spacing: 1.8px

        &:hover
          box-shadow: 0 2px 6px rgba($pri, .5)
          transform: translateY(-2px)

    .other-option
      @include flex($justify: space-between)
      margin-bottom: 1rem

      .group
        @include flex($justify: flex-start)

        .checkbox
          height: .8rem
          width: .8rem
          margin-right: .3rem
          cursor: pointer

        .checkbox-label
          font-size: .8rem
          cursor: pointer

      .forget-password
        font-size: .8rem
        text-align: right
        cursor: pointer

    .switch-page-btn
      margin-top: .5rem
      text-align: center

      p
        font-size: .8rem
        color: rgba($dark, .7)

        .switch
          color: $sec
          text-decoration: underline
          cursor: pointer
          padding: .6rem .2rem

.form-input-area
  margin-bottom: 1rem

  @mixin shrink()
    top: 0
    font-size: .8rem

  .input-sec
    position: relative
    width: 100%
    height: 2.5rem

    .form-input
      height: 100%
      width: 100%
      padding: 1rem
      border: 1.2px solid rgba($dark, .2)
      border-radius: 6px
      font-size: 1rem

      &:focus
        border-color: $pri

      &:focus ~ .form-input-label
        @include shrink()

    .form-input-label
      position: absolute
      top: 50%
      left: .6rem
      transform: translateY(-50%)
      color: rgba($dark, .7)
      font-size: .9rem
      padding: .3rem .5rem
      transition: .4s cubic-bezier(0, 1, 0, 1)

      &::after
        content: ''
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        height: 3px
        background-color: $light
        width: 100%
        z-index: -1

      &.shrink
        @include shrink()
